
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*@ViewBag.Desc1<br/>
        @ViewData["desc2"]<br/>
        @TempData["Desc3"]

        @ViewBag.test*@

        @if (ViewBag.test == "1")
        {
            <div>我是一一一一</div>
        }
        else
        { 
            <div>我是二二二二</div>
        }
    </div>
</body>
</html>

@*<script type="text/javascript">
    var msg='@ViewBag.test';
    alert(msg)

    //alert("test");
</script>*@
