
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Desc1<br/>
        @ViewData["desc2"]<br/>
        @TempData["Desc3"]

    </div>
</body>
</html>
